**.png
**/.parallel
**/.snakemake
**/results
**/benchmarks
**results/
**/finished
**.txt
**.txt.gz
**.tsv
**.bed
**.csv
**.log
**.fasta
**.fa
**.fai
**.vcf
**.vcf.gz
**.vcf.gz.tbi
**.stats
**.nb.html
**.kmc_pre
**.kmc_suf
**.sam
**.bam
**.h5
**.mpileup
**.html
**.gbz
**.dist
**.min
**.zipcodes
**.fastq
**.fq
**.tar
**.tar.gz
