// BSA simulation from:
// https://doi.org/10.1093/g3journal/jkac012

// Cannings Model simulation for BSA
initialize() {
	initializeSLiMOptions(keepPedigrees = T);
	initializeTreeSeq();
	initializeSex("A");
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, L);
	initializeRecombinationRate(R);
}

    ## add population
1 late() {
	sim.addSubpop("p1", N);
}

    ## cannings model for each generation
late() {
	// after reproduction, everybody lives initially
	sim.subpopulations.individuals.tag = 0;
	
	// afterwards, only NE samples survive and eligible for reproduction
	samples = sample(sim.subpopulations.individuals, {});\n'.format(Ne))
	
	// make sure the samples are bisexual for eligible reproduction
	while(sum(samples.sex == 'M') == N | sum(samples.sex == 'F') == N){
		samples = sample(sim.subpopulations.individuals, N);
	}

	samples.tag = 1;
	fitness(NULL) {
	// individuals tagged for death die here
	if (individual.tag == 1)
		return 1.0;
	else
		return 0.0;

    # SLiM output tree-seq file
1000 late() {
	sim.treeSeqOutput('{}');
}
