initialize() {
	initializeSLiMOptions(nucleotideBased=T);
	initializeAncestralNucleotides(randomNucleotides(L));
	initializeMutationTypeNuc("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0, mmJukesCantor(mu));
	initializeGenomicElement(g1, 0, L-1);
	initializeRecombinationRate(R);

	// reschedule simulation end
	community.rescheduleScriptBlock(s1, start=kappa, end=kappa);

}

1 early() {
	catn("Creating subpopulations...");
	sim.addSubpop("p1", N);
}

early(){
	if(sim.cycle % 1000 == 0){
		catn(sim.cycle);
	}
}

s1 10000000 late() {
	// random sample of 10 individuals
	catn("Randomly sampling population...");
	gs = p1.sampleIndividuals(n).genomes;

	// output vcf of sample
	catn("Outputting vcf...");
	gs.outputVCF(filePath = paste("slim_" + ID + ".vcf", sep = ""), simplifyNucleotides=T);

	// output genome sequences of sample
	catn("Outputting fasta...");
	i = 1;
	for (g in gs){
		writeFile(paste("slim_" + ID + ".fasta", sep = ""), ">" + i, append = T);
		writeFile(paste("slim_" + ID + ".fasta", sep = ""), paste(g.nucleotides(format="char"), sep = ""), append = T);
		i = i + 1;
	}
}
