initialize() {
	initializeSLiMOptions(nucleotideBased=T);
	setSeed(SLIMSEED);
	//initializeAncestralNucleotides(randomNucleotides(asInteger(L)));
	defineConstant("L", initializeAncestralNucleotides(paste("ancestral_genome_results/" + ID + ".fasta", sep = "")));
	initializeMutationTypeNuc("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0, mmJukesCantor(mu/3));
	initializeGenomicElement(g1, 0, asInteger(L)-1);
	initializeRecombinationRate(R);
}

1 early() {
	// add subpopulations
	catn("Creating ancestral population...");
	sim.addSubpop("p1", asInteger(N1 + N2));

	// reschedule simulation end
	community.rescheduleScriptBlock(s1, start=10*asInteger(N1 + N2), end=10*asInteger(N1 + N2));
	community.rescheduleScriptBlock(s2, start=10*asInteger(N1 + N2) + tau, end=10*asInteger(N1 + N2) + tau);
}

early(){
	if(sim.cycle % 1000 == 0){
		catn(sim.cycle);
	}
}

// split ancestral population and set-up migration rates
s1 10000000 early() {
	catn("Splitting into subpopulations...");
	sim.addSubpopSplit("p2", asInteger(N2), p1); 
	p1.setMigrationRates(p2, mg1);
	p2.setMigrationRates(p1, mg2);
}

// some generations after divergence, sample populations
s2 10000000 late() {
	// random sample of individuals, grab an extra individual to use as a refernce
	catn("Randomly sampling population...");
	sp1 = p1.sampleIndividuals(asInteger(n) + 1);
	sp2 = p2.sampleIndividuals(asInteger(n));

	gs1 = sp1.genomes;
	gs2 = sp2.genomes;

	gs12 = c(gs1, gs2);
	
	// output vcf of sample
	catn("Outputting vcf...");
	gs12.outputVCF(filePath = paste("slim_results/" + ID + ".vcf", sep = ""), simplifyNucleotides=T);

	// output genome sequences of sample
	catn("Outputting fasta...");
	i = 1;
	for (g in gs12){
		writeFile(paste("slim_results/" + ID + ".fasta", sep = ""), ">" + i, append = T);
		writeFile(paste("slim_results/" + ID + ".fasta", sep = ""), paste(g.nucleotides(format="char"), sep = ""), append = T);
		i = i + 1;
	}

	// Add summary statistics to log
	catn("Outputting fst...");
        log = community.createLogFile(paste("slim_" + ID + ".stats", sep = ""));
        log.addCustomColumn("ID", "asInteger(ID);");
        log.addCustomColumn("FST_POPULATION", "calcFST(p1.genomes, p2.genomes);");
	log.logRow();
}
